[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
torch = "*"
transformers = "*"
numpy = "*"
scikit-learn = "*"
protobuf = "*"
gunicorn = "*"
torchvision = "*"
torchaudio = "*"
sentencepiece = "*"

[dev-packages]

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = true
